<div id="topbar-nav" class="navbar-menu">
    <div class="navbar-end">
        <div class="navbar-item">
            <span class="control">
                <a class="button" href="https://my-agrirouter.com">Website</a>
            </span>
        </div>
        <div class="navbar-item">
            <span class="control">
                <a class="button is-primary" href="https://goto.my-agrirouter.com">agrirouter</a>
            </span>
        </div>
    </div>
</div>